@font-face {
    font-family: 'Zodiac Cipher';
    src: url('/public/fonts/Zodiac Cipher.eot');
    src: local('☺'), url('/public/fonts/Zodiac Cipher.woff') format('woff'), url('/public/fonts/Zodiac Cipher.ttf') format('truetype'), url('/public/fonts/Zodiac Cipher.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
}
body {
    background-color: white;
    color: black;
    font-family: 'Helvetica', Helvetica, sans-serif;
    max-width: 1080px;
    margin: 1em auto;
}

h1 {
    font-size: 178px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: absolute;
    margin: 0;
    color :#D25959;
}

h3 {
    font-size: 28px;
    color: #A67E9A;
}

.nav {
    
}

.cipher {
    margin: 1em auto;
    text-align: left;
}

.key {
    margin: 1em auto;
    text-align: left;
}

.key span {
    display: inline-block;
    width: 32px;
    border: 1px solid rgba(0,0,0,.5);
    text-align: center;
}

.cipher span {
    display: inline-block;
    width: 32px;
    border: 1px solid rgba(0,0,0,.5);
    text-align: center;
}
.cipher span.end-of-word {
    border-right-color: red;
}
.row-grouping {
    margin: 16px;
}
.row-grouping p {
    margin: 0;
}

.symbols {
    font-family:'Zodiac Cipher',Sans-Serif;
    font-size: 32px;
}
.letters {
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
