{{set . "title" "Zodiac Ciphers"}}
{{template "header.html" .}}


<h1>Zodiac Cipher</h1>

<h3>{{ $.cipher.Length}} Characters</h3>

{{ if $.cipher.Solved }}
<h3>Solved</h3>
{{ else }}
<h3>Unsolved</h3>
{{ end }}

<div class="nav">
Key ID: [ {{ $.cipher.KeyID}} ] <br/>
Key Count: [ {{ $.cipher.KeyCount}} ] <br/>
</div>

</br>

<div class="translation">
    {{ $.cipher.Translation }}
</div>

<main class="cipher">
    {{range $row := $.cipher.DisplayCipher}}
    <div class="row-grouping">
        <p class="symbols"> {{ range $char := $row }}<span class="char">{{ $char.Symbol }}</span>{{ end }} </p>
        <p class="letters"> {{ range $char := $row }}<span class="char">{{ $char.Letter }}</span>{{ end }} </p>
    </div>
    {{ end }}
</main>

<aside class="key">
    {{range $letter, $symbols := $.cipher.DisplayLettersKey}}
    <div class="row-grouping">
        <p> <span class="letters">{{ $letter }}</span> [{{ $.cipher.GetSymbolCount $letter }}] {{ range $symbol := $symbols }}<span class="symbols">{{ $symbol }}</span>{{ end }}</p>
    </div>
    {{ end }}
</aside>

{{template "flash.html" .}}

{{template "footer.html" .}}
