{{set . "title" "Zodiac Decipher"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#9999FF">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Zodiac Decipher</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div class="cipher" style="font-size:50px">
    ByIcM+UZGW76L#$HJ
</div>

{{template "footer.html" .}}
