{{set . "title" "Zodiac Ciphers"}}
{{template "header.html" .}}


<h1>Zodiac Cipher</h1>

<h3>{{ $.cipher.Length}} Characters</h3>

{{ if $.cipher.Solved }}
<h3>Solved</h3>
{{ else }}
<h3>Unsolved</h3>
{{ end }}

<div class="nav">
Previous (abcdef1234) | Current (abcdef5678) | Next (fedcba98765)
</div>

</br>

<div class="translation">
    {{ $.cipher.Translation }}
</div>

<div class="key">
    {{range $symbol, $letters := $.cipher.DisplaySymbolsKey}}
    <div class="row-grouping">
        <p> <span class="symbols">{{ $symbol }}</span>{{ range $letter := $letters }}<span class="letters">{{ $letter }}</span>{{ end }} </p>
    </div>
    {{ end }}
</div>

<div class="cipher">
    {{range $row := $.cipher.DisplayCipher}}
    <div class="row-grouping">
        <p class="symbols"> {{ range $char := $row }}<span class="char">{{ $char.Symbol }}</span>{{ end }} </p>
        <p class="letters"> {{ range $char := $row }}<span class="char">{{ $char.Letter }}</span>{{ end }} </p>
    </div>
    {{ end }}
</div>

{{template "flash.html" .}}

{{template "footer.html" .}}
