{{set . "title" "Zodiac Decipher"}}
{{template "header.html" .}}



    <div class="row">
      <div class="large-13 columns">
          <h1>Zodiac Decipher</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-13 columns">
        <div class="panel">
          <h3>Test Cipher: </h3>
          <div class="row">
            <div class="large-10 medium-10 columns">
                    <div class="cipher">
                    {{range $row := $.cipher.Display}}
                    <p> {{ range $char := $row }}{{ $char }}{{ end }} </p>
                    {{ end }}
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span6">
                {{template "flash.html" .}}
            </div>
        </div>
    </div>

    {{template "footer.html" .}}
